@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/HeliosCond/HeliosCond-Bold.eot");
  src: local("HeliosCond Bold"), local("HeliosCond-Bold"), url("../fonts/HeliosCond/HeliosCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCond/HeliosCond-Bold.woff") format("woff"), url("../fonts/HeliosCond/HeliosCond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/HeliosCond/HeliosCond-Bold-Italic.eot");
  src: local("HeliosCond Bold Italic"), local("HeliosCond-Bold-Italic"), url("../fonts/HeliosCond/HeliosCond-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCond/HeliosCond-Bold-Italic.woff") format("woff"), url("../fonts/HeliosCond/HeliosCond-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/HeliosCond/HeliosCond-Italic.eot");
  src: local("HeliosCond Italic"), local("HeliosCond-Italic"), url("../fonts/HeliosCond/HeliosCond-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCond/HeliosCond-Italic.woff") format("woff"), url("../fonts/HeliosCond/HeliosCond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/HeliosCond/HeliosCond.eot");
  src: local("HeliosCond Regular"), local("HeliosCond"), url("../fonts/HeliosCond/HeliosCond.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCond/HeliosCond.woff") format("woff"), url("../fonts/HeliosCond/HeliosCond.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1440px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 767.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1439.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1440px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 15px 40px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #c3325f;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
.btn:hover {
  color: #fff;
  background: #97BBFB;
}
.btn:active {
  background: #E3CAFF;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.embed_responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed_responsive::before {
  display: block;
  content: "";
}
.embed_responsive .embed_responsive_item,
.embed_responsive iframe,
.embed_responsive embed,
.embed_responsive object,
.embed_responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive_21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive_16by9::before {
  padding-top: 56.25%;
}

.embed-responsive_4by3::before {
  padding-top: 75%;
}

.embed-responsive_1by1::before {
  padding-top: 100%;
}

.img_fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico_svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_lowercase {
  text-transform: lowercase !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}

.color_red {
  color: #BE0909 !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "HeliosCond", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  background: transparent;
}

.container {
  max-width: 380px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    max-width: inherit;
    width: 755px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1384px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  font-family: "HeliosCond", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  font-family: "HeliosCond", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "HeliosCond", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "HeliosCond", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "HeliosCond", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "HeliosCond", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #000;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.header {
  font-size: 0;
  z-index: 1000;
  line-height: 0;
  position: relative;
  padding-bottom: 38px;
}
.header__row {
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__toggle {
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin-right: 42px;
  position: relative;
  display: inline-block;
}
.header__toggle span, .header__toggle:after, .header__toggle:before {
  left: 50%;
  width: 28px;
  height: 2px;
  content: "";
  background: #fff;
  margin-left: -14px;
  position: absolute;
  border-radius: 2px;
  display: inline-block;
}
.header__toggle:before {
  top: 4px;
}
.header__toggle:after {
  bottom: 4px;
}
.header__toggle span {
  top: 13px;
}
.header__phone {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header__links a {
  width: 28px;
  height: 28px;
  cursor: pointer;
  position: relative;
  margin-left: 14px;
  display: inline-block;
}
.header__links a:first-child {
  margin-left: 0;
}
.header__links a i {
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  margin: -10px 0 0 -10px;
}
.header__links a .ico_svg {
  fill: #fff;
}
.header__logo {
  width: 121px;
  margin: 0 auto;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav {
  left: 0;
  right: 0;
  top: 56px;
  opacity: 0;
  visibility: hidden;
  z-index: 1200;
  position: fixed;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  background: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav ul li {
  border-bottom: 1px solid #B9B9B9;
}
.header__nav ul li a {
  width: 100%;
  color: #535353;
  padding: 11px 0;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.header__nav ul li a:hover {
  color: #535353;
  text-decoration: underline;
}
.header__nav_layout {
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  position: fixed;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 37px;
  }
  .header__phone {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1024px) {
  .header__row {
    height: 68px;
  }
  .header__toggle {
    display: none;
  }
  .header__phone {
    font-size: 18px;
    line-height: 21px;
  }
  .header__nav {
    padding: 0;
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    margin-left: 0;
    opacity: 1;
    visibility: visible;
    position: relative;
    background: transparent;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
  .header__nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .header__nav ul li {
    padding: 0 25px;
    border-bottom: none;
  }
  .header__nav ul li a {
    color: #fff;
    padding: 0;
    width: auto;
    display: inline;
  }
  .header__nav ul li a:hover {
    color: #fff;
  }
  .header__logo {
    width: 165px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-bottom: 35px;
  }
  .header__row {
    height: 90px;
  }
  .header__nav ul li {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .header__nav ul li {
    padding: 0 54px;
  }
}

.nav_open {
  height: 100%;
  overflow: hidden;
}
.nav_open .header__toggle span {
  display: none;
}
.nav_open .header__toggle:after {
  bottom: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav_open .header__toggle:before {
  top: 12px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav_open .header__nav {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav_open .header__nav_layout {
  opacity: 1;
  z-index: 1050;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  padding-top: 30px;
  padding-bottom: 25px;
}
.footer__logo {
  width: 115px;
  display: block;
  margin: 0 auto 25px auto;
}
.footer__phone {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  margin-bottom: 20px;
}
.footer__phone a {
  color: #fff;
  text-decoration: none;
}
.footer__phone a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__nav {
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.footer__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__nav ul li {
  margin-bottom: 16px;
}
.footer__nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer__links {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  list-style: none;
  text-align: center;
}
.footer__links li {
  margin-bottom: 15px;
}
.footer__links li:last-child {
  margin-bottom: 0;
}
.footer__links li a {
  color: #fff;
  text-decoration: underline;
}
.footer__links li a:hover {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 55px;
    padding-bottom: 90px;
  }
  .footer__logo {
    width: 165px;
    margin-bottom: 70px;
  }
  .footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__phone {
    margin: 0;
    width: 180px;
    text-align: left;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .footer__nav {
    margin: 0;
    width: calc(100% - 180px);
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__nav_group {
    width: calc(50% - 40px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__links {
    width: 100%;
    padding-top: 50px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding-bottom: 55px;
  }
  .footer__phone {
    width: 260px;
  }
  .footer__nav {
    width: calc(100% - 260px);
  }
  .footer__nav_group {
    width: calc(50% - 60px);
  }
  .footer__links {
    display: none;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-bottom: 70px;
  }
  .footer__row {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .footer__nav {
    width: auto;
  }
  .footer__nav_group {
    width: auto;
  }
  .footer__nav ul {
    white-space: nowrap;
    padding-right: 90px;
  }
  .footer__links {
    padding: 0;
    width: auto;
    display: block;
    text-align: left;
    margin: 0 0 0 20px;
    white-space: nowrap;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1440px) {
  .footer__nav {
    width: auto;
  }
  .footer__nav_group {
    width: auto;
  }
  .footer__nav ul {
    padding-left: 27px;
    white-space: nowrap;
    padding-right: 120px;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
}

.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(0deg, #EE7D00 3.33%, rgba(238, 125, 0, 0.851223) 21.01%, rgba(238, 125, 0, 0.273777) 42.92%, #FF8601 100%);
}
.page:before {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  content: "";
  height: 100%;
  display: block;
  position: absolute;
  background: url("../img/top_orange.png") 50% 0 no-repeat;
  background-size: 100% auto;
}
.page:after {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  height: 100%;
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: url("../img/bottom_orange.png") 50% 100% no-repeat;
  background-size: 100% auto;
}
.page__wrap {
  z-index: 10;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page {
    background: linear-gradient(0deg, #EE7D00 3.33%, rgba(238, 125, 0, 0.851223) 37.98%, rgba(238, 125, 0, 0.273777) 64.44%, #FF8601 100%);
  }
}
@media (min-width: 1024px) {
  .page {
    background: linear-gradient(0deg, #EE7D00 3.33%, rgba(238, 125, 0, 0.851223) 31.35%, rgba(238, 125, 0, 0.273777) 45.15%, #FF8601 91.44%);
  }
  .page:after, .page:before {
    opacity: 1;
    visibility: visible;
  }
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.goods {
  padding-bottom: 15px;
}
.goods__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.goods__col {
  width: 100%;
  margin-bottom: 15px;
}
.goods__item {
  color: #282828;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  line-height: 15px;
  background: #ffffff;
  text-decoration: none;
  border-radius: 4px 8px 8px 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.goods__item:hover {
  color: #282828;
  text-decoration: none;
}
.goods__item_image {
  width: 108px;
  font-size: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.goods__item_text {
  padding: 10px 15px 10px 25px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.goods__item_text span {
  color: #BE0909;
}
@media (min-width: 768px) {
  .goods {
    padding-bottom: 5px;
  }
  .goods__col {
    margin-bottom: 25px;
    width: calc(50% - 27px);
  }
}
@media (min-width: 1024px) {
  .goods {
    padding-bottom: 30px;
  }
  .goods__col {
    margin-bottom: 15px;
    width: calc(50% - 35px);
  }
  .goods__item {
    font-size: 20px;
    line-height: 21px;
    padding: 18px 20px;
    border-radius: 8px;
  }
  .goods__item_image {
    width: 150px;
    border-radius: 8px;
  }
  .goods__item_text {
    padding: 0 0 0 25px;
  }
}
@media (min-width: 1440px) {
  .goods {
    padding-bottom: 48px;
  }
  .goods__row {
    margin: 0 -8px;
  }
  .goods__col {
    width: 33.33%;
    padding: 0 8px;
    margin-bottom: 16px;
  }
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.info__content {
  background: #fff;
  font-size: 16px;
  line-height: 19px;
  padding: 32px 20px;
  border-radius: 8px 8px 0 0;
}
.info__content p {
  padding: 0;
  margin: 0 0 20px 0;
}
.info__content p:last-child {
  margin-bottom: 0;
}
.info__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  margin-bottom: 20px;
}
.info__image {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 84% 0, 100% 0, 100% 85%, 59% 100%, 0 100%);
}
.info__pattern {
  font-size: 0;
  line-height: 0;
  display: block;
  position: absolute;
}
.info__pattern_one {
  top: 39px;
  right: 20px;
  width: 99px;
  height: 42px;
  display: none;
}
.info__pattern_two {
  left: 53px;
  bottom: 17px;
  width: 139px;
  height: 59px;
  display: none;
}
.info__pattern_three {
  right: 0;
  bottom: 0;
  width: 132px;
  height: 35px;
  display: block;
}
@media (min-width: 768px) {
  .info {
    padding-top: 10px;
  }
  .info__wrap {
    background: #fff;
    border-radius: 8px;
    padding: 35px 20px 30px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .info__media {
    width: 312px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .info__image {
    margin-left: -43px;
  }
  .info__content {
    border-radius: 8px;
    padding: 0 0 0 30px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .info__title {
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .info {
    padding-top: 25px;
  }
  .info__wrap {
    background: #fff;
    border-radius: 8px;
    padding: 47px 30px 67px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .info__media {
    width: 422px;
  }
  .info__image {
    margin-left: -58px;
    clip-path: polygon(0 0, 84% 0, 100% 0, 99% 89%, 72% 100%, 0 100%);
  }
  .info__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .info__content {
    font-size: 18px;
    line-height: 21px;
    padding-left: 50px;
  }
  .info__pattern_one {
    display: block;
  }
  .info__pattern_two {
    display: block;
  }
  .info__pattern_three {
    right: 0;
    bottom: 0;
    width: 132px;
    height: 35px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .info {
    padding: 45px 0;
    background: #fff;
  }
  .info__wrap {
    padding: 0;
    margin: 0 auto;
    width: 1080px;
  }
  .info__media {
    width: 511px;
  }
  .info__image {
    margin: 0;
    clip-path: polygon(0 0, 100% 0, 100% 89.5%, 74.5% 100%, 0 100%);
  }
}
.advantage {
  padding-top: 20px;
  padding-bottom: 30px;
}
.advantage__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 400px;
}
.advantage__header {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  margin-bottom: 20px;
}
.advantage__wrap {
  overflow: hidden;
  position: relative;
  margin-right: -300px;
}
.advantage__slider {
  margin: 0;
  width: 222px;
  overflow: visible;
}
.advantage__nav {
  top: 50%;
  padding: 0;
  width: 50px;
  z-index: 10;
  height: 78px;
  font-size: 0;
  line-height: 0;
  opacity: 0.76;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: -39px;
  position: absolute;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.advantage__nav .ico_svg {
  fill: #fff;
}
.advantage__nav:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.advantage__item {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.advantage__item:before {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 63%;
  content: "";
  position: absolute;
  border-radius: 8px;
  background: linear-gradient(180deg, #FFFFFF 17.22%, rgba(255, 255, 255, 0.0001) 100%);
}
.advantage__title {
  top: 25px;
  left: 12px;
  right: 10px;
  z-index: 10;
  color: #080808;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  position: absolute;
  text-decoration: underline;
}
.advantage__title:hover {
  color: #080808;
  text-decoration: none;
}
.advantage__tag {
  left: 12px;
  bottom: 17px;
  color: #fff;
  border: none;
  outline: none;
  z-index: 10;
  font-size: 16px;
  line-height: 22px;
  padding: 5px 14px;
  position: absolute;
  border-radius: 16px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: underline;
}
.advantage__tag_green {
  background: #008338;
}
.advantage__tag_blue {
  background: #1F3F5F;
}
.advantage__tag_black {
  background: #181818;
}
.advantage__tag:hover {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .advantage {
    padding-top: 44px;
  }
  .advantage__header {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 25px;
  }
  .advantage__slider {
    width: 307px;
  }
  .advantage__title {
    top: 28px;
    left: 32px;
  }
  .advantage__tag {
    left: 32px;
    bottom: 18px;
  }
}
@media (min-width: 1024px) {
  .advantage__wrap {
    margin: 0;
    width: 100%;
    overflow: visible;
  }
  .advantage__slider {
    width: 100%;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .advantage {
    padding-top: 70px;
    padding-bottom: 85px;
  }
  .advantage__wrap {
    margin: 0 auto;
    max-width: 1170px;
  }
  .advantage__slider {
    width: 955px;
    margin: 0 auto;
  }
  .advantage__nav {
    display: inline-block;
  }
  .advantage__nav_prev {
    left: 0;
  }
  .advantage__nav_next {
    right: 0;
  }
}

/*# sourceMappingURL=main.css.map */
