@font-face {
	font-family: 'HeliosCond';
	src: url('../fonts/HeliosCond/HeliosCond-Bold.eot');
	src: local('HeliosCond Bold'), local('HeliosCond-Bold'),
	url('../fonts/HeliosCond/HeliosCond-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HeliosCond/HeliosCond-Bold.woff') format('woff'),
	url('../fonts/HeliosCond/HeliosCond-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'HeliosCond';
	src: url('../fonts/HeliosCond/HeliosCond-Bold-Italic.eot');
	src: local('HeliosCond Bold Italic'), local('HeliosCond-Bold-Italic'),
	url('../fonts/HeliosCond/HeliosCond-Bold-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HeliosCond/HeliosCond-Bold-Italic.woff') format('woff'),
	url('../fonts/HeliosCond/HeliosCond-Bold-Italic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'HeliosCond';
	src: url('../fonts/HeliosCond/HeliosCond-Italic.eot');
	src: local('HeliosCond Italic'), local('HeliosCond-Italic'),
	url('../fonts/HeliosCond/HeliosCond-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HeliosCond/HeliosCond-Italic.woff') format('woff'),
	url('../fonts/HeliosCond/HeliosCond-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'HeliosCond';
	src: url('../fonts/HeliosCond/HeliosCond.eot');
	src: local('HeliosCond Regular'), local('HeliosCond'),
	url('../fonts/HeliosCond/HeliosCond.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HeliosCond/HeliosCond.woff') format('woff'),
	url('../fonts/HeliosCond/HeliosCond.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
