html,
body {
	height: 100%;
	min-height: 100%;
}

.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	position: relative;
	@include flexbox();
	@include flex-direction(column);
	background: linear-gradient(0deg, #EE7D00 3.33%, rgba(238, 125, 0, 0.851223) 21.01%, rgba(238, 125, 0, 0.273777) 42.92%, #FF8601 100%);

	&:before {
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		z-index: 1;
		content: '';
		height: 100%;
		display: block;
		position: absolute;
		background: url("../img/top_orange.png") 50% 0 no-repeat;
		background-size: 100% auto;
	}


	&:after {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		height: 100%;
		display: block;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: url("../img/bottom_orange.png") 50% 100% no-repeat;
		background-size: 100% auto;
	}

	&__wrap {
		z-index: 10;
		width: 100%;
		height: 100%;
		min-height: 100vh;
		position: relative;
		@include flexbox();
		@include flex-direction(column);
	}

	@media (min-width: $screen-sm-min) {
		background: linear-gradient(0deg, #EE7D00 3.33%, rgba(238, 125, 0, 0.851223) 37.98%, rgba(238, 125, 0, 0.273777) 64.44%, #FF8601 100%);
	}

	@media (min-width: $screen-md-min) {
		background: linear-gradient(0deg, #EE7D00 3.33%, rgba(238, 125, 0, 0.851223) 31.35%, rgba(238, 125, 0, 0.273777) 45.15%, #FF8601 91.44%);

		&:after,
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.main {
	@include flex-grow(1);
}


.goods {
	padding-bottom: 15px;

	&__row {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}

	&__col {
		width: 100%;
		margin-bottom: 15px;
	}

	&__item {
		color: #282828;
		font-size: 14px;
		font-weight: 700;
		overflow: hidden;
		line-height: 15px;
		background: #ffffff;
		text-decoration: none;
		border-radius: 4px 8px 8px 4px;
		@include flexbox();
		@include align-items(center);

		&:hover {
			color: #282828;
			text-decoration: none;
		}

		&_image {
			width: 108px;
			font-size: 0;
			line-height: 0;
			display: block;
			overflow: hidden;
			border-radius: 4px;
			@include flex-shrink(0);
		}

		&_text {
			padding: 10px 15px 10px 25px;
			@include flex-grow(1);

			span {
				color: $color-red;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 5px;

		&__col {
			margin-bottom: 25px;
			width: calc(50% - 27px);
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 30px;


		&__col {
			margin-bottom: 15px;
			width: calc(50% - 35px);
		}

		&__item {
			font-size: 20px;
			line-height: 21px;
			padding: 18px 20px;
			border-radius: 8px;

			&_image {
				width: 150px;
				border-radius: 8px;
			}

			&_text {
				padding: 0 0 0 25px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 48px;

		&__row {
			margin: 0 -8px;
		}

		&__col {
			width: 33.33%;
			padding: 0 8px;
			margin-bottom: 16px;
		}
	}
}


.info {
	padding-top: 20px;
	padding-bottom: 20px;

	&__wrap {

	}

	&__content {
		background: #fff;
		font-size: 16px;
		line-height: 19px;
		padding: 32px 20px;
		border-radius: 8px 8px 0 0;

		p {
			padding: 0;
			margin: 0 0 20px 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 34px;
		text-align: center;
		margin-bottom: 20px;
	}

	&__media {

	}

	&__image {
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		position: relative;
		clip-path: polygon(0 0, 84% 0, 100% 0, 100% 85%, 59% 100%, 0 100%);
	}

	&__pattern {
		font-size: 0;
		line-height: 0;
		display: block;
		position: absolute;

		&_one {
			top: 39px;
			right: 20px;
			width: 99px;
			height: 42px;
			display: none;
		}

		&_two {
			left: 53px;
			bottom: 17px;
			width: 139px;
			height: 59px;
			display: none;
		}

		&_three {
			right: 0;
			bottom: 0;
			width: 132px;
			height: 35px;
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 10px;

		&__wrap {
			background: #fff;
			border-radius: 8px;
			padding: 35px 20px 30px 20px;
			@include flexbox();
		}

		&__media {
			width: 312px;
			@include flex-shrink(0);
			@include order(1);
		}

		&__image {
			margin-left: -43px;
		}

		&__content {
			border-radius: 8px;
			padding: 0 0 0 30px;
			@include order(2);
		}

		&__title {
			font-size: 24px;
			line-height: 29px;
			text-align: left;
			margin-bottom: 15px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 25px;


		&__wrap {
			background: #fff;
			border-radius: 8px;
			padding: 47px 30px 67px 20px;
			@include flexbox();
		}

		&__media {
			width: 422px;
		}

		&__image {
			margin-left: -58px;
			clip-path: polygon(0 0, 84% 0, 100% 0, 99% 89%, 72% 100%, 0 100%);
		}

		&__title {
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 30px;
		}

		&__content {
			font-size: 18px;
			line-height: 21px;
			padding-left: 50px;
		}

		&__pattern {

			&_one {
				display: block;
			}

			&_two {
				display: block;
			}

			&_three {
				right: 0;
				bottom: 0;
				width: 132px;
				height: 35px;
				display: block;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 45px 0;
		background: #fff;

		&__wrap {
			padding: 0;
			margin: 0 auto;
			width: 1080px;
		}

		&__media {
			width: 511px;
		}

		&__image {
			margin: 0;
			clip-path: polygon(0 0, 100% 0, 100% 89.5%, 74.5% 100%, 0 100%);
		}
	}

	@media (min-width: $screen-xl-min) {

	}

}


.advantage {
	padding-top: 20px;
	padding-bottom: 30px;

	&__container {
		margin: 0 auto;
		padding: 0 15px;
		max-width: 400px;
	}

	&__header {
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		line-height: 34px;
		text-align: center;
		margin-bottom: 20px;
	}

	&__wrap {
		overflow: hidden;
		position: relative;
		margin-right: -300px;
	}

	&__slider {
		margin: 0;
		width: 222px;
		overflow: visible;
	}

	&__nav {
		top: 50%;
		padding: 0;
		width: 50px;
		z-index: 10;
		height: 78px;
		font-size: 0;
		line-height: 0;
		opacity: 0.76;
		display: none;
		border: none;
		outline: none;
		cursor: pointer;
		margin-top: -39px;
		position: absolute;
		background: transparent;
		@include transition(.3s);

		.ico_svg {
			fill: #fff;
		}

		&:hover {
			opacity: 1;
			@include transition(.3s);
		}
	}

	&__item {
		width: 100%;
		display: block;
		overflow: hidden;
		position: relative;
		border-radius: 8px;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
			height: 63%;
			content: '';
			position: absolute;
			border-radius: 8px;
			background: linear-gradient(180deg, #FFFFFF 17.22%, rgba(255, 255, 255, 0.0001) 100%);
		}
	}

	&__title {
		top: 25px;
		left: 12px;
		right: 10px;
		z-index: 10;
		color: #080808;
		display: block;
		font-size: 18px;
		font-weight: 700;
		line-height: 21px;
		position: absolute;
		text-decoration: underline;

		&:hover {
			color: #080808;
			text-decoration: none;
		}
	}

	&__tag {
		left: 12px;
		bottom: 17px;
		color: #fff;
		border: none;
		outline: none;
		z-index: 10;
		font-size: 16px;
		line-height: 22px;
		padding: 5px 14px;
		position: absolute;
		border-radius: 16px;
		white-space: nowrap;
		display: inline-block;
		text-decoration: underline;

		&_green {
			background: #008338;
		}

		&_blue {
			background: #1F3F5F;
		}

		&_black{
			background: #181818;
		}

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 44px;

		&__header {
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 25px;
		}

		&__slider {
			width: 307px;
		}

		&__title {
			top: 28px;
			left: 32px;
		}

		&__tag {
			left: 32px;
			bottom: 18px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			margin: 0;
			width: 100%;
			overflow: visible;
		}

		&__slider {
			width: 100%;
			overflow: hidden;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 70px;
		padding-bottom: 85px;

		&__wrap {
			margin: 0 auto;
			max-width: 1170px;
		}

		&__slider {
			width: 955px;
			margin: 0 auto;
		}

		&__nav {
			display: inline-block;

			&_prev {
				left: 0;
			}

			&_next {
				right: 0;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}



@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}