.header {
	font-size: 0;
	z-index: 1000;
	line-height: 0;
	position: relative;
	padding-bottom: 38px;

	&__row {
		height: 56px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__toggle {
		width: 28px;
		height: 28px;
		cursor: pointer;
		margin-right: 42px;
		position: relative;
		display: inline-block;

		span,
		&:after,
		&:before {
			left: 50%;
			width: 28px;
			height: 2px;
			content: '';
			background: #fff;
			margin-left: -14px;
			position: absolute;
			border-radius: 2px;
			display: inline-block;
		}

		&:before {
			top: 4px;
		}

		&:after {
			bottom: 4px;
		}

		span {
			top: 13px;
		}
	}

	&__phone {
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		line-height: 17px;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__links {
		@include flexbox();
		@include align-items(center);

		a {
			width: 28px;
			height: 28px;
			cursor: pointer;
			position: relative;
			margin-left: 14px;
			display: inline-block;

			&:first-child {
				margin-left: 0;
			}

			i {
				top: 50%;
				left: 50%;
				width: 20px;
				height: 20px;
				position: absolute;
				display: inline-block;
				margin: -10px 0 0 -10px;
			}

			.ico_svg {
				fill: #fff;
			}

		}
	}

	&__logo {
		width: 121px;
		margin: 0 auto;
		display: block;
		@include transition(.3s);
	}

	&__nav {
		left: 0;
		right: 0;
		top: 56px;
		opacity: 0;
		visibility: hidden;
		z-index: 1200;
		position: fixed;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		background: #fff;
		text-transform: uppercase;
		@include transition(.3s);

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				border-bottom: 1px solid #B9B9B9;

				a {
					width: 100%;
					color: #535353;
					padding: 11px 0;
					text-align: center;
					display: inline-block;
					text-decoration: none;

					&:hover {
						color: #535353;
						text-decoration: underline;
					}
				}
			}
		}

		&_layout {
			top: 56px;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			z-index: -1;
			position: fixed;
			visibility: hidden;
			background: rgba(0,0,0,0.6);
			@include transition(.3s);
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 37px;

		&__phone {
			font-size: 16px;
			line-height: 18px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			height: 68px;
		}

		&__toggle {
			display: none;
		}

		&__phone {
			font-size: 18px;
			line-height: 21px;
		}

		&__links {

		}

		&__nav {
			padding: 0;
			top: auto;
			left: auto;
			right: auto;
			width: auto;
			height: auto;
			margin-left: 0;
			opacity: 1;
			visibility: visible;
			position: relative;
			background: transparent;
			@include transition(0s);

			ul {
				@include flexbox();
				@include align-items(center);

				li {
					padding: 0 25px;
					border-bottom: none;

					a {
						color: #fff;
						padding: 0;
						width: auto;
						display: inline;

						&:hover {
							color: #fff;
						}
					}
				}
			}
		}

		&__logo {
			width: 165px;
		}
	}


	@media (min-width: $screen-lg-min) {
		padding-bottom: 35px;

		&__logo {

		}

		&__row {
			height: 90px;
		}

		&__nav {

			ul {

				li {
					padding: 0 40px;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			ul {

				li {
					padding: 0 54px;
				}
			}
		}
	}
}


.nav_open {
	height: 100%;
	overflow: hidden;

	.header__toggle {

		span {
			display: none;
		}

		&:after {
			bottom: 14px;
			@include rotate(45deg);
		}

		&:before {
			top: 12px;
			@include rotate(-45deg);
		}
	}


	.header__nav {
		opacity: 1;
		visibility: visible;
		@include transition(.3s);
	}

	.header__nav_layout {
		opacity: 1;
		z-index: 1050;
		visibility: visible;
		@include transition(.3s);
	}
}

