.footer {
	padding-top: 30px;
	padding-bottom: 25px;

	&__logo {
		width: 115px;
		display: block;
		margin: 0 auto 25px auto;
	}

	&__phone {
		color: #fff;
		font-size: 17px;
		font-weight: 700;
		line-height: 19px;
		text-align: center;
		margin-bottom: 20px;

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&__nav {
		font-size: 15px;
		font-weight: 700;
		line-height: 17px;
		margin-bottom: 15px;
		@include flexbox();
		@include justify-content(space-between);

		&_group {

		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 16px;

				a {
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__links {
		margin: 0;
		padding: 0;
		font-size: 12px;
		line-height: 14px;
		list-style: none;
		text-align: center;

		li {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #fff;
				text-decoration: underline;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 55px;
		padding-bottom: 90px;

		&__logo {
			width: 165px;
			margin-bottom: 70px;
		}

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__phone {
			margin: 0;
			width: 180px;
			text-align: left;
			@include flex-shrink(0);
		}

		&__nav {
			margin: 0;
			width: calc(100% - 180px);
			@include flex-shrink(0);
			@include flexbox();
			@include justify-content(space-between);

			&_group {
				width: calc(50% - 40px);
				@include flexbox();
				@include justify-content(space-between);
			}

			ul {
	//			width: 50%;
			}
		}

		&__links {
			width: 100%;
			padding-top: 50px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 55px;

		&__phone {
			width: 260px;
		}


		&__nav {
			width: calc(100% - 260px);

			&_group {
				width: calc(50% - 60px);
			}
		}

		&__links {
			display: none;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 70px;

		&__row {
			@include flex-wrap(nowrap);
		}

		&__nav {
			width: auto;

			&_group {
				width: auto;
			}

			ul {
				white-space: nowrap;
				padding-right: 90px;
			}
		}

		&__links {
			padding: 0;
			width: auto;
			display: block;
			text-align: left;
			margin: 0 0 0 20px;
			white-space: nowrap;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {
			width: auto;

			&_group {
				width: auto;
			}

			ul {
				padding-left: 27px;
				white-space: nowrap;
				padding-right: 120px;
			}
		}
	}
}


