
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 15px 40px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #c3325f;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;

	&:hover {
		color: #fff;
		background: #97BBFB;
	}

	&:active {
		background: #E3CAFF;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}